* {
    Margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    margin-bottom: 80px;
}

.nombre{
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    padding-left: 1.8rem;
}



.nav{
    display: flex;
    justify-content: center ;
    padding: 2rem;
    font-size: 1.8rem;
    background-color: #97D5F0;
}

/*a:hover{
    font-size: 2rem;
    color: rgb(27, 110, 219);
}*/

/*img{
    display: inline;
    width: 150px;
    height: auto;
    border-radius: 2rem;
}*/
.foto{
    display: flex;
    align-items: center;
    width: 240px;
    height: 230px;
    left: 428px;
    top: 298px;
    border-radius: 120px;
    margin: 1rem;
    border-style: solid;
}

.datos{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
}

.pad{
    padding: 1rem;
    margin-left: 2rem;
}

/*.titulo{
    display: grid;
}*/

.cabeza{
    display:flex;
    justify-content: left;
    align-items: center;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #97D5F0;
    height: 50px;
}

.btn-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    width: 210px;
    height: 60px;
    background: #409BC2;
    border-width: 0px 4px 7px 0px;
    border-style: solid;
    border-color: rgba(16, 15, 16, 0.77);
    border-radius: 10px;
    font-size: 1.5rem;
}

.btn-nav:hover{
    width: 220px;
    height: 70px;
    color: aliceblue;
}

.subtittle-sobremi{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}



.sobremi{
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 90px;
    margin-right: 90px;
}

.div-subtittle{
    margin-top: 90px;
    margin-bottom: 30px;
    border-top: black;
    border-bottom: black;
    background-color: #97D5F0;
    
}

.foto-libros{
    height: 280px;
    margin-left: 50px;
    border-color: black;
    border-style: solid;
    border-radius: 80px;
}

.estudios{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 100px;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

.explaboral{
    margin-left: 100px;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
}

.habilidadesblandas{
    border-style: solid;
    display: flex;
    justify-content: flex-start;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 1.5rem;
    padding: 1.5rem;
    width: fit-content;
    border-radius: 50px;
    background-color: #BCEFF2;
}

.habilidadestecnicas{
    border-style: solid;
    display: flex;
    justify-content: flex-end;
    font-size: 1.4rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 1.5rem;
    padding: 1.5rem;
    width: fit-content;
    border-radius: 50px;
    background-color: #BCEFF2;
}

.competencias{
    display: flex;
    justify-content: space-around;
}

/* MEDIA QUERIS PARA CELULAR*/

@media (max-width: 768px) {

    .nav{
        display: block;
        font-size: 1rem;
        padding: 0.5rem;
    }


    .btn-nav{
        font-size: 1rem;
        width: 138px;
        height: 40px;
    }

    .btn-nav:hover{
        width: 170px;
        height: 55px;
    }


    .foto{
        width: 190px;
        height: 190px;
        border-radius: 90px;
        margin: 0.3rem;
    }

    .nombre{
        display: flex;
        font-family: 'Courier New', Courier, monospace;
        font-size: 2rem;
        padding-left: 1.5rem;
    }

    .subtittle-sobremi{
        font-size: 2.3rem;
    }
    
    .sobremi{
        font-size: 1.1rem;
        margin-left: 20px;
        margin-right: 20px;
    }

    .datos{
        font-size: 1rem;
    }

    .pad{
        padding: 1rem;
        margin-left: 1.2rem;
    }

    /* ESTUDIOS*/

    .foto-libros{
        height: 100px;
        margin-left: 10px;
        border-radius: 80px;
    }

    .estudios{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 10px;
        font-size: 1rem;
        padding-right: 1.2rem;
        padding-left: 0.2rem;
    }

    /*EXPERIENCIA LABORAL*/

    .explaboral{
        margin-left: 60px;
        font-size: 1.2rem;
    }

    h3{
        font-size: 1.5rem;
    }

    /* Competencias*/

    .habilidadesblandas{
        font-size: 2.3rem;
        margin: 1.5rem;
        padding: 1.5rem;
    }
    
    .habilidadestecnicas{
        font-size: 2.3rem;
        margin: 1.5rem;
        padding: 1.5rem;
    }
    
    .competencias{
        display: block;
    }
}